# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.bak
*.log

# Django
*.sqlite3
*.db
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.vscode/
# Miscellaneous
pgdata/
pgdata/app/
