# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.bak
*.log

# Django
*.sqlite3
*.db
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# CKEditor
crashblog/static/ckeditor/

# Miscellaneous
.DS_Store
Thumbs.db