{% extends 'core/base.html' %}


{% block title %}{{ post.title }} | {% endblock title %}

{% block content %}
<section class="hero">
    <div class="hero-body">
       <div class="container">
          <section class="section">
            {% if post.image %}
            <div class="column is-8 is-offset-2">
                <figure class="image is-16by9">
                    <img src="{{ post.image.url }}" alt="{{ post.title }}">
                </figure>
            </div>
            {%endif%}
             <div class="columns">
                <div class="column is-8 is-offset-2">
                    <div class ="content is-medium">
                        <h2 class="subtitle is-4">{{post.created_at|timesince}} ago</h2>
                        <h1 class="title">{{post.title}}</h1>
                        <p>{{post.intro}}</p>
                        <p>{{ post.body |safe}}</p>
                        <p><small>Categories: 
                            {% for category in post.categories.all %}
                            <span><a href="{% url 'blog:category_detail' category.slug %}">{{ category.name }}</a></span>{% if not forloop.last %}&nbsp;{% endif %}
                            {% endfor %}
                            </small>
                        </p>
                        <hr>
                        <h2 class="subtitle is-4">Comments</h2>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="button is-primary" type="submit">Add Comment</button>
                        </form>
                        <hr>
                        {% for comment in post.comments.all %}
                            <div class="content is-medium">
                                <p>{{ comment.body }}</p>
                                <p>{{ comment.created_at|timesince }} ago</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>   
             </div>
          </section>
       </div>
    </div>
 </section>
{% endblock content %}


    